<header class="flex flex-col text-white items-center justify-between py-4 bg-[#ec1c24]">
    <nav class="flex text-md sm:text-lg space-x-4 sm:space-x-8">
        <a href="#top">Inicio</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#proyectos">Proyectos</a>
        <a href="https://wa.me/573042535435">Contacto</a>  
    </nav>
</header>