<a class="flex w-full sm:w-auto items-center justify-center gap-2 border border-[#ec1c24] rounded-xl px-4 py-3 sm:px-3 sm:py-2 text-center transition hover:bg-[#ec1c24] hover:text-white" target="_blank" rel="noopener noreferrer" {...Astro.props}>
  <slot />
</a>
